*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #f4f7fb;
    text-align: center;
    padding: 30px;
    color: #333;
}

h1{
    color: #5b4bdb;
    margin-bottom: 10px;
}

p{
    margin: 10px 0;
    font-size: 18px;
}

a{
    display: inline-block;
    margin: 20px 0;
    padding: 12px 22px;
    background: #5b4bdb;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}

a:hover{
    background: #4338ca;
}

header,
nav,
main,
section,
footer{
    width: 80%;
    margin: 15px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

header{
    background: #dbeafe;
}

nav{
    background: #ede9fe;
}

main{
    background: #dcfce7;
}

section{
    background: #fef3c7;
}

footer{
    background: #fecdd3;
}



nav{
    background: #ede9fe;
    padding: 15px;
    border-radius: 15px;
    margin: 20px auto;
}

nav a{
    text-decoration: none;
    color: #5b4bdb;
    margin: 10px;
    background: white;
    padding: 8px 15px;
    border-radius: 20px;
}

nav a:hover{
    background: #5b4bdb;
    color: white;
}

section{
    background: white;
    margin: 20px auto;
    padding: 30px;
    border-radius: 15px;
    width: 80%;
}